In [ ]:
import pandas as pd

In [1]:
#importing the necessary datasets
county_data = pd.read_csv('data/election-context-2018.csv')
election_results = pd.read_csv('data/2018_4_0_2.csv', skiprows = [0])

In [3]:
#merging the two datasets
merged_df = county_data.merge(election_results, left_on = "fips", right_on = 'fips')
merged_df

,state,county,fips,trump16,clinton16,otherpres16,romney12,obama12,otherpres12,demsen16,...,vote13,vote14,vote15,vote16,vote17,vote18,vote19,vote20,vote21,vote22
0,Alabama,Autauga,1001,18172,5936,865,17379,6363,190,6331.0,...,0,0,0,0,0,0,0,0,0,0
1,Alabama,Baldwin,1003,72883,18458,3874,66016,18424,898,19145.0,...,0,0,0,0,0,0,0,0,0,0
2,Alabama,Barbour,1005,5454,4871,144,5550,5912,47,4777.0,...,0,0,0,0,0,0,0,0,0,0
3,Alabama,Bibb,1007,6738,1874,207,6132,2202,86,2082.0,...,0,0,0,0,0,0,0,0,0,0
4,Alabama,Blount,1009,22859,2156,573,20757,2970,279,2980.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,Wyoming,Sweetwater,56037,12154,3231,1745,11428,4774,693,NaN,...,0,0,0,0,0,0,0,0,0,0
3107,Wyoming,Teton,56039,3921,7314,1392,4858,6213,393,NaN,...,0,0,0,0,0,0,0,0,0,0
3108,Wyoming,Uinta,56041,6154,1202,1114,6615,1628,296,NaN,...,0,0,0,0,0,0,0,0,0,0
3109,Wyoming,Washakie,56043,2911,532,371,3014,794,136,NaN,...,0,0,0,0,0,0,0,0,0,0
3110,Wyoming,Weston,56045,3033,299,194,2821,422,116,NaN,...,0,0,0,0,0,0,0,0,0,0

In [4]:
list_to_drop = []
for n in range(3, 23):
    list_to_drop.append("vote" + str(n))
list_to_drop

['vote3',
 'vote4',
 'vote5',
 'vote6',
 'vote7',
 'vote8',
 'vote9',
 'vote10',
 'vote11',
 'vote12',
 'vote13',
 'vote14',
 'vote15',
 'vote16',
 'vote17',
 'vote18',
 'vote19',
 'vote20',
 'vote21',
 'vote22']

In [ ]:
merged_df = merged_df.drop(columns = list_to_drop)

In [5]:
list_to_drop_2 = ['demgov16', 'repgov16', 'othergov16', 'demgov14', 'repgov14', 'othergov14']
merged_df = merged_df.drop(columns = list_to_drop_2)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3111 entries, 0 to 3110
Data columns (total 58 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3111 non-null   object
 1   county                  3111 non-null   object
 2   fips                    3111 non-null   int64
 3   trump16                 3111 non-null   int64
 4   clinton16               3111 non-null   int64
 5   otherpres16             3111 non-null   int64
 6   romney12                3111 non-null   int64
 7   obama12                 3111 non-null   int64
 8   otherpres12             3111 non-null   int64
 9   demsen16                1942 non-null   float64
 10  repsen16                1942 non-null   float64
 11  othersen16              1942 non-null   float64
 12  demhouse16              2862 non-null   float64
 13  rephouse16              2862 non-null   float64
 14  otherhouse16            2862 non-null   float64
 15  total_population        3110 non-null   float64
 16  cvap                    3110 non-null   float64
 17  white_pct               3110 non-null   float64
 18  black_pct               3110 non-null   float64
 19  hispanic_pct            3110 non-null   float64
 20  nonwhite_pct            3110 non-null   float64
 21  foreignborn_pct         3110 non-null   float64
 22  female_pct              3110 non-null   float64
 23  age29andunder_pct       3110 non-null   float64
 24  age65andolder_pct       3110 non-null   float64
 25  median_hh_inc           3110 non-null   float64
 26  clf_unemploy_pct        3110 non-null   float64
 27  lesshs_pct              3110 non-null   float64
 28  lesscollege_pct         3110 non-null   float64
 29  lesshs_whites_pct       3110 non-null   float64
 30  lesscollege_whites_pct  3110 non-null   float64
 31  rural_pct               3111 non-null   float64
 32  ruralurban_cc           3111 non-null   float64
 33  name                    3111 non-null   object
 34  type                    3111 non-null   object
 35  totalvote               3111 non-null   int64
 36  vote1                   3111 non-null   int64
 37  vote2                   3111 non-null   int64
 38  vote3                   3111 non-null   int64
 39  vote4                   3111 non-null   int64
 40  vote5                   3111 non-null   int64
 41  vote6                   3111 non-null   int64
 42  vote7                   3111 non-null   int64
 43  vote8                   3111 non-null   int64
 44  vote9                   3111 non-null   int64
 45  vote10                  3111 non-null   int64
 46  vote11                  3111 non-null   int64
 47  vote12                  3111 non-null   int64
 48  vote13                  3111 non-null   int64
 49  vote14                  3111 non-null   int64
 50  vote15                  3111 non-null   int64
 51  vote16                  3111 non-null   int64
 52  vote17                  3111 non-null   int64
 53  vote18                  3111 non-null   int64
 54  vote19                  3111 non-null   int64
 55  vote20                  3111 non-null   int64
 56  vote21                  3111 non-null   int64
 57  vote22                  3111 non-null   int64
dtypes: float64(24), int64(30), object(4)
memory usage: 1.4+ MB