In [80]:
import pandas as pd
county_data = pd.read_csv('data/election-context-2018.csv')
county_data.head()

,state,county,fips,trump16,clinton16,otherpres16,romney12,obama12,otherpres12,demsen16,...,age29andunder_pct,age65andolder_pct,median_hh_inc,clf_unemploy_pct,lesshs_pct,lesscollege_pct,lesshs_whites_pct,lesscollege_whites_pct,rural_pct,ruralurban_cc
0,Alabama,Autauga,1001,18172,5936,865,17379,6363,190,6331.0,...,40.037058,13.978456,53099.0,5.591657,12.417046,75.407229,10.002112,74.065601,42.002162,2.0
1,Alabama,Baldwin,1003,72883,18458,3874,66016,18424,898,19145.0,...,35.474412,18.714851,51365.0,6.286843,9.972418,70.452889,7.842227,68.405607,42.279099,3.0
2,Alabama,Barbour,1005,5454,4871,144,5550,5912,47,4777.0,...,37.664387,16.528895,33956.0,12.824738,26.235928,87.132213,19.579752,81.364746,67.789635,6.0
3,Alabama,Bibb,1007,6738,1874,207,6132,2202,86,2082.0,...,37.329435,14.885699,39776.0,7.146827,19.301587,88.000000,15.020490,87.471774,68.352607,1.0
4,Alabama,Blount,1009,22859,2156,573,20757,2970,279,2980.0,...,37.240053,17.192916,46212.0,5.953833,19.968585,86.950243,16.643368,86.163610,89.951502,1.0

In [81]:
election_results = pd.read_csv('data/2018_4_0_2.csv', skiprows = [0])
election_results.head()

,fips,name,type,totalvote,vote1,vote2,vote3,vote4,vote5,vote6,...,vote13,vote14,vote15,vote16,vote17,vote18,vote19,vote20,vote21,vote22
0,1001,Autauga,County,19665,6221,13400,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1003,Baldwin,County,77829,17779,59992,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1005,Barbour,County,8354,4162,4191,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1007,Bibb,County,6859,1559,5299,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1009,Blount,County,19391,1957,17420,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
merged_df = county_data.merge(election_results, left_on = "fips", right_on = 'fips')
merged_df.head()

,state,county,fips,trump16,clinton16,otherpres16,romney12,obama12,otherpres12,demsen16,...,vote13,vote14,vote15,vote16,vote17,vote18,vote19,vote20,vote21,vote22
0,Alabama,Autauga,1001,18172,5936,865,17379,6363,190,6331.0,...,0,0,0,0,0,0,0,0,0,0
1,Alabama,Baldwin,1003,72883,18458,3874,66016,18424,898,19145.0,...,0,0,0,0,0,0,0,0,0,0
2,Alabama,Barbour,1005,5454,4871,144,5550,5912,47,4777.0,...,0,0,0,0,0,0,0,0,0,0
3,Alabama,Bibb,1007,6738,1874,207,6132,2202,86,2082.0,...,0,0,0,0,0,0,0,0,0,0
4,Alabama,Blount,1009,22859,2156,573,20757,2970,279,2980.0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
#making sure each fips is unique
election_results['fips'].value_counts()

fips
1001     1
39083    1
39087    1
39089    1
39091    1
        ..
21101    1
21103    1
21105    1
21107    1
56045    1
Name: count, Length: 3151, dtype: int64

In [84]:
county_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3114 non-null   object
 1   county                  3114 non-null   object
 2   fips                    3114 non-null   int64
 3   trump16                 3114 non-null   int64
 4   clinton16               3114 non-null   int64
 5   otherpres16             3114 non-null   int64
 6   romney12                3114 non-null   int64
 7   obama12                 3114 non-null   int64
 8   otherpres12             3114 non-null   int64
 9   demsen16                1942 non-null   float64
 10  repsen16                1942 non-null   float64
 11  othersen16              1942 non-null   float64
 12  demhouse16              2862 non-null   float64
 13  rephouse16              2862 non-null   float64
 14  otherhouse16            2862 non-null   float64
 15  demgov16                601 non-null    float64
 16  repgov16                601 non-null    float64
 17  othergov16              601 non-null    float64
 18  repgov14                2148 non-null   float64
 19  demgov14                2148 non-null   float64
 20  othergov14              2148 non-null   float64
 21  total_population        3111 non-null   float64
 22  cvap                    3111 non-null   float64
 23  white_pct               3111 non-null   float64
 24  black_pct               3111 non-null   float64
 25  hispanic_pct            3111 non-null   float64
 26  nonwhite_pct            3111 non-null   float64
 27  foreignborn_pct         3111 non-null   float64
 28  female_pct              3111 non-null   float64
 29  age29andunder_pct       3111 non-null   float64
 30  age65andolder_pct       3111 non-null   float64
 31  median_hh_inc           3111 non-null   float64
 32  clf_unemploy_pct        3111 non-null   float64
 33  lesshs_pct              3111 non-null   float64
 34  lesscollege_pct         3111 non-null   float64
 35  lesshs_whites_pct       3111 non-null   float64
 36  lesscollege_whites_pct  3111 non-null   float64
 37  rural_pct               3113 non-null   float64
 38  ruralurban_cc           3113 non-null   float64
dtypes: float64(30), int64(7), object(2)
memory usage: 948.9+ KB

In [85]:
election_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3151 entries, 0 to 3150
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips       3151 non-null   int64
 1   name       3151 non-null   object
 2   type       3151 non-null   object
 3   totalvote  3151 non-null   int64
 4   vote1      3151 non-null   int64
 5   vote2      3151 non-null   int64
 6   vote3      3151 non-null   int64
 7   vote4      3151 non-null   int64
 8   vote5      3151 non-null   int64
 9   vote6      3151 non-null   int64
 10  vote7      3151 non-null   int64
 11  vote8      3151 non-null   int64
 12  vote9      3151 non-null   int64
 13  vote10     3151 non-null   int64
 14  vote11     3151 non-null   int64
 15  vote12     3151 non-null   int64
 16  vote13     3151 non-null   int64
 17  vote14     3151 non-null   int64
 18  vote15     3151 non-null   int64
 19  vote16     3151 non-null   int64
 20  vote17     3151 non-null   int64
 21  vote18     3151 non-null   int64
 22  vote19     3151 non-null   int64
 23  vote20     3151 non-null   int64
 24  vote21     3151 non-null   int64
 25  vote22     3151 non-null   int64
dtypes: int64(24), object(2)
memory usage: 640.2+ KB

In [86]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3111 entries, 0 to 3110
Data columns (total 64 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3111 non-null   object
 1   county                  3111 non-null   object
 2   fips                    3111 non-null   int64
 3   trump16                 3111 non-null   int64
 4   clinton16               3111 non-null   int64
 5   otherpres16             3111 non-null   int64
 6   romney12                3111 non-null   int64
 7   obama12                 3111 non-null   int64
 8   otherpres12             3111 non-null   int64
 9   demsen16                1942 non-null   float64
 10  repsen16                1942 non-null   float64
 11  othersen16              1942 non-null   float64
 12  demhouse16              2862 non-null   float64
 13  rephouse16              2862 non-null   float64
 14  otherhouse16            2862 non-null   float64
 15  demgov16                601 non-null    float64
 16  repgov16                601 non-null    float64
 17  othergov16              601 non-null    float64
 18  repgov14                2148 non-null   float64
 19  demgov14                2148 non-null   float64
 20  othergov14              2148 non-null   float64
 21  total_population        3110 non-null   float64
 22  cvap                    3110 non-null   float64
 23  white_pct               3110 non-null   float64
 24  black_pct               3110 non-null   float64
 25  hispanic_pct            3110 non-null   float64
 26  nonwhite_pct            3110 non-null   float64
 27  foreignborn_pct         3110 non-null   float64
 28  female_pct              3110 non-null   float64
 29  age29andunder_pct       3110 non-null   float64
 30  age65andolder_pct       3110 non-null   float64
 31  median_hh_inc           3110 non-null   float64
 32  clf_unemploy_pct        3110 non-null   float64
 33  lesshs_pct              3110 non-null   float64
 34  lesscollege_pct         3110 non-null   float64
 35  lesshs_whites_pct       3110 non-null   float64
 36  lesscollege_whites_pct  3110 non-null   float64
 37  rural_pct               3111 non-null   float64
 38  ruralurban_cc           3111 non-null   float64
 39  name                    3111 non-null   object
 40  type                    3111 non-null   object
 41  totalvote               3111 non-null   int64
 42  vote1                   3111 non-null   int64
 43  vote2                   3111 non-null   int64
 44  vote3                   3111 non-null   int64
 45  vote4                   3111 non-null   int64
 46  vote5                   3111 non-null   int64
 47  vote6                   3111 non-null   int64
 48  vote7                   3111 non-null   int64
 49  vote8                   3111 non-null   int64
 50  vote9                   3111 non-null   int64
 51  vote10                  3111 non-null   int64
 52  vote11                  3111 non-null   int64
 53  vote12                  3111 non-null   int64
 54  vote13                  3111 non-null   int64
 55  vote14                  3111 non-null   int64
 56  vote15                  3111 non-null   int64
 57  vote16                  3111 non-null   int64
 58  vote17                  3111 non-null   int64
 59  vote18                  3111 non-null   int64
 60  vote19                  3111 non-null   int64
 61  vote20                  3111 non-null   int64
 62  vote21                  3111 non-null   int64
 63  vote22                  3111 non-null   int64
dtypes: float64(30), int64(30), object(4)
memory usage: 1.5+ MB

In [87]:
merged_df['vote6'].value_counts()

vote6
0      3020
41        2
99        2
841       2
24        2
       ...
48        1
223       1
886       1
123       1
114       1
Name: count, Length: 85, dtype: int64

In [88]:
x = range(3,23)
for n in x:
    print (n)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [89]:
list_to_drop = []
for n in x:
    list_to_drop.append("vote" + str(n))
list_to_drop

['vote3',
 'vote4',
 'vote5',
 'vote6',
 'vote7',
 'vote8',
 'vote9',
 'vote10',
 'vote11',
 'vote12',
 'vote13',
 'vote14',
 'vote15',
 'vote16',
 'vote17',
 'vote18',
 'vote19',
 'vote20',
 'vote21',
 'vote22']

In [90]:
merged_df = merged_df.drop(columns = list_to_drop)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3111 entries, 0 to 3110
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3111 non-null   object
 1   county                  3111 non-null   object
 2   fips                    3111 non-null   int64
 3   trump16                 3111 non-null   int64
 4   clinton16               3111 non-null   int64
 5   otherpres16             3111 non-null   int64
 6   romney12                3111 non-null   int64
 7   obama12                 3111 non-null   int64
 8   otherpres12             3111 non-null   int64
 9   demsen16                1942 non-null   float64
 10  repsen16                1942 non-null   float64
 11  othersen16              1942 non-null   float64
 12  demhouse16              2862 non-null   float64
 13  rephouse16              2862 non-null   float64
 14  otherhouse16            2862 non-null   float64
 15  demgov16                601 non-null    float64
 16  repgov16                601 non-null    float64
 17  othergov16              601 non-null    float64
 18  repgov14                2148 non-null   float64
 19  demgov14                2148 non-null   float64
 20  othergov14              2148 non-null   float64
 21  total_population        3110 non-null   float64
 22  cvap                    3110 non-null   float64
 23  white_pct               3110 non-null   float64
 24  black_pct               3110 non-null   float64
 25  hispanic_pct            3110 non-null   float64
 26  nonwhite_pct            3110 non-null   float64
 27  foreignborn_pct         3110 non-null   float64
 28  female_pct              3110 non-null   float64
 29  age29andunder_pct       3110 non-null   float64
 30  age65andolder_pct       3110 non-null   float64
 31  median_hh_inc           3110 non-null   float64
 32  clf_unemploy_pct        3110 non-null   float64
 33  lesshs_pct              3110 non-null   float64
 34  lesscollege_pct         3110 non-null   float64
 35  lesshs_whites_pct       3110 non-null   float64
 36  lesscollege_whites_pct  3110 non-null   float64
 37  rural_pct               3111 non-null   float64
 38  ruralurban_cc           3111 non-null   float64
 39  name                    3111 non-null   object
 40  type                    3111 non-null   object
 41  totalvote               3111 non-null   int64
 42  vote1                   3111 non-null   int64
 43  vote2                   3111 non-null   int64
dtypes: float64(30), int64(10), object(4)
memory usage: 1.0+ MB

In [91]:
list_to_drop_2 = ['demgov16', 'repgov16', 'othergov16', 'demgov14', 'repgov14', 'othergov14']
merged_df = merged_df.drop(columns = list_to_drop_2)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3111 entries, 0 to 3110
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3111 non-null   object
 1   county                  3111 non-null   object
 2   fips                    3111 non-null   int64
 3   trump16                 3111 non-null   int64
 4   clinton16               3111 non-null   int64
 5   otherpres16             3111 non-null   int64
 6   romney12                3111 non-null   int64
 7   obama12                 3111 non-null   int64
 8   otherpres12             3111 non-null   int64
 9   demsen16                1942 non-null   float64
 10  repsen16                1942 non-null   float64
 11  othersen16              1942 non-null   float64
 12  demhouse16              2862 non-null   float64
 13  rephouse16              2862 non-null   float64
 14  otherhouse16            2862 non-null   float64
 15  total_population        3110 non-null   float64
 16  cvap                    3110 non-null   float64
 17  white_pct               3110 non-null   float64
 18  black_pct               3110 non-null   float64
 19  hispanic_pct            3110 non-null   float64
 20  nonwhite_pct            3110 non-null   float64
 21  foreignborn_pct         3110 non-null   float64
 22  female_pct              3110 non-null   float64
 23  age29andunder_pct       3110 non-null   float64
 24  age65andolder_pct       3110 non-null   float64
 25  median_hh_inc           3110 non-null   float64
 26  clf_unemploy_pct        3110 non-null   float64
 27  lesshs_pct              3110 non-null   float64
 28  lesscollege_pct         3110 non-null   float64
 29  lesshs_whites_pct       3110 non-null   float64
 30  lesscollege_whites_pct  3110 non-null   float64
 31  rural_pct               3111 non-null   float64
 32  ruralurban_cc           3111 non-null   float64
 33  name                    3111 non-null   object
 34  type                    3111 non-null   object
 35  totalvote               3111 non-null   int64
 36  vote1                   3111 non-null   int64
 37  vote2                   3111 non-null   int64
dtypes: float64(24), int64(10), object(4)
memory usage: 923.7+ KB

In [92]:
merged_df['name'].value_counts()

name
Washington    31
Franklin      26
Jefferson     26
Jackson       24
Lincoln       24
              ..
Branch         1
Benzie         1
Baraga         1
Arenac         1
Weston         1
Name: count, Length: 1804, dtype: int64

In [93]:
merged_df['county'].value_counts()

county
Washington    31
Jefferson     26
Franklin      26
Lincoln       24
Jackson       24
              ..
Branch         1
Benzie         1
Baraga         1
Arenac         1
Weston         1
Name: count, Length: 1808, dtype: int64

In [94]:
merged_df['type'].value_counts()

type
County    3006
Parish      64
City        41
Name: count, dtype: int64

In [95]:
list_to_drop_3 = ['name', 'county', 'type']
merged_df = merged_df.drop(columns = list_to_drop_3)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3111 entries, 0 to 3110
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3111 non-null   object
 1   fips                    3111 non-null   int64
 2   trump16                 3111 non-null   int64
 3   clinton16               3111 non-null   int64
 4   otherpres16             3111 non-null   int64
 5   romney12                3111 non-null   int64
 6   obama12                 3111 non-null   int64
 7   otherpres12             3111 non-null   int64
 8   demsen16                1942 non-null   float64
 9   repsen16                1942 non-null   float64
 10  othersen16              1942 non-null   float64
 11  demhouse16              2862 non-null   float64
 12  rephouse16              2862 non-null   float64
 13  otherhouse16            2862 non-null   float64
 14  total_population        3110 non-null   float64
 15  cvap                    3110 non-null   float64
 16  white_pct               3110 non-null   float64
 17  black_pct               3110 non-null   float64
 18  hispanic_pct            3110 non-null   float64
 19  nonwhite_pct            3110 non-null   float64
 20  foreignborn_pct         3110 non-null   float64
 21  female_pct              3110 non-null   float64
 22  age29andunder_pct       3110 non-null   float64
 23  age65andolder_pct       3110 non-null   float64
 24  median_hh_inc           3110 non-null   float64
 25  clf_unemploy_pct        3110 non-null   float64
 26  lesshs_pct              3110 non-null   float64
 27  lesscollege_pct         3110 non-null   float64
 28  lesshs_whites_pct       3110 non-null   float64
 29  lesscollege_whites_pct  3110 non-null   float64
 30  rural_pct               3111 non-null   float64
 31  ruralurban_cc           3111 non-null   float64
 32  totalvote               3111 non-null   int64
 33  vote1                   3111 non-null   int64
 34  vote2                   3111 non-null   int64
dtypes: float64(24), int64(10), object(1)
memory usage: 850.8+ KB

In [96]:
merged_df['nonwhite_pct'].value_counts()

nonwhite_pct
24.316518    1
12.481699    1
2.485805     1
28.315136    1
7.531803     1
            ..
12.222393    1
3.053215     1
7.437089     1
10.540368    1
7.777003     1
Name: count, Length: 3110, dtype: int64

In [97]:
merged_df['otherpres16'].value_counts()

otherpres16
130      13
113      10
110      10
120      10
262      10
         ..
3348      1
2751      1
7066      1
22793     1
371       1
Name: count, Length: 1732, dtype: int64

In [108]:
third_party_df = merged_df.loc[(merged_df['otherpres16'] >= merged_df['trump16']) & (merged_df['otherpres16'] >= merged_df['clinton16'])]
merged_df = merged_df.loc[~merged_df['fips'].isin(third_party_df['fips'])]
merged_df

,state,fips,trump16,clinton16,otherpres16,romney12,obama12,otherpres12,demsen16,repsen16,...,clf_unemploy_pct,lesshs_pct,lesscollege_pct,lesshs_whites_pct,lesscollege_whites_pct,rural_pct,ruralurban_cc,totalvote,vote1,vote2
0,Alabama,1001,18172,5936,865,17379,6363,190,6331.0,18220.0,...,5.591657,12.417046,75.407229,10.002112,74.065601,42.002162,2.0,19665,6221,13400
1,Alabama,1003,72883,18458,3874,66016,18424,898,19145.0,74021.0,...,6.286843,9.972418,70.452889,7.842227,68.405607,42.279099,3.0,77829,17779,59992
2,Alabama,1005,5454,4871,144,5550,5912,47,4777.0,5436.0,...,12.824738,26.235928,87.132213,19.579752,81.364746,67.789635,6.0,8354,4162,4191
3,Alabama,1007,6738,1874,207,6132,2202,86,2082.0,6612.0,...,7.146827,19.301587,88.000000,15.020490,87.471774,68.352607,1.0,6859,1559,5299
4,Alabama,1009,22859,2156,573,20757,2970,279,2980.0,22169.0,...,5.953833,19.968585,86.950243,16.643368,86.163610,89.951502,1.0,19391,1957,17420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,Wyoming,56037,12154,3231,1745,11428,4774,693,NaN,NaN,...,5.072255,9.314606,78.628507,6.238463,76.606813,10.916313,5.0,12753,3959,7700
3107,Wyoming,56039,3921,7314,1392,4858,6213,393,NaN,NaN,...,2.123447,4.633570,46.211584,1.526877,41.769504,46.430920,7.0,11622,7373,3843
3108,Wyoming,56041,6154,1202,1114,6615,1628,296,NaN,NaN,...,6.390755,10.361224,81.793082,8.806312,81.080852,43.095937,7.0,6203,1256,4517
3109,Wyoming,56043,2911,532,371,3014,794,136,NaN,NaN,...,7.441860,12.577108,78.923920,10.299738,75.980688,35.954529,7.0,3083,592,2263
3110,Wyoming,56045,3033,299,194,2821,422,116,NaN,NaN,...,3.610949,8.592392,81.193281,7.342144,81.141179,54.536626,7.0,2665,372,2100